@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background-color: wheat;
}

.text-overlay {
  display: none !important;
}

.container:hover .text-overlay {
  display: block !important;
}
